@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <center><h1>Waste Management </h1></center>
    <br />
    <center><p class="lead">~Midwest's Leader In Waste Disposal~</p></center>
</div>
<div class="row">
    <center><iframe src="~/Content/Images_for_fun/garbage-clipart-sanitary-landfill-2.jpg" height="1600" width="1080"></iframe></center>
    @*<div><center><img src="~/Content/Images_for_fun/garbage-clipart-sanitary-landfill-2.jpg" alt="Trash" /></center></div>*@
</div>

